<?xml version="1.0" encoding="UTF-8"?>
<suite name="final" verbose="2" >
  <test name="Test" >
    <classes>
      <class name="by.epam.task4.builder.SAXParserTest"/>
        <class name="by.epam.task4.builder.DOMParserTest"/>
        <class name="by.epam.task4.builder.StAXParserTest"/>
    </classes>
 </test>
</suite>